// @import "../../styles/base";

#anchor--dashboard-global-hr-forum--global-hr-forum-view .docs-story {
  // background: $bg-fill;
  .global-hr-forum-min{
    width: 26.333rem;
    margin: 0 auto;
  }
}

.global-hr-forum-min {
    // background-color: $white;
    padding: 2.389rem 0;
    border-radius: 0.938rem;
      .hrforum-header{
        // @include d-flex;
        padding: 0 2.889rem;
        margin-bottom: 3rem;
        img{
          width: 2.111rem;
          height: 2.111rem;
        }
        h2{
            font-size: 1.556rem;
            line-height: 2.222rem;
            margin: 0 1.089rem;
            font-weight: inherit;
            // color: $secondary-blue;
        }
      }
      .global-hr-data{
        .global-hr-user-row{
          // @include d-flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;
          cursor: pointer;
          padding: 0.5rem 2.889rem;
          .global-hr-user-title-note-img{
            display: flex;
            gap: 1.556rem;
            .global-hr-user-col{
              &.user-image{
                // @include d-flex;
                align-items: center;
                img{
                  width: 2rem;
                  height: 2rem;
                }
              }
              .global-hr-user-title{
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.444rem;
                // color: $primary-gray;
              }
              .global-hr-user-notification{
                font-size: 0.778rem;
                // color: $secondary-gray;
                line-height: 1.333rem;
              }
            }
          }
          .global-hr-user-icon-number{
            // @include d-flex;
            gap: 0.278rem;
            img{
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
      .global-hr-footer{
        text-align: center;
        padding: 0 2.889rem;
        h4{
            margin-top: 1.5rem;
            margin-bottom: 0;
            font-weight: 500;
            line-height: 1.444rem;
            // color: $primary-blue;
            cursor: pointer;
        }
      }
   
}